apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      serviceAccountName: jenkins
      securityContext:
        fsGroup: 1000
      containers:
        - name: jenkins
          image: jenkins/jenkins:lts-jdk17
          securityContext:
            runAsUser: 0
          command: ["/bin/sh", "-c"]
          args:
            - apt-get update && apt-get install -y docker-cli && exec /usr/local/bin/jenkins.sh
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 50000
              name: agent
          env:
            - name: JAVA_OPTS
              value: "-Djenkins.install.runSetupWizard=false"
            - name: JENKINS_OPTS
              value: "--prefix=/jenkins"
            - name: DOCKER_HOST
              value: "tcp://docker:2375"
            - name: DOCKER_TLS_CERTDIR
              value: ""
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home

        - name: docker
          image: docker:dind
          securityContext:
            privileged: true
          args:
            - --host=tcp://0.0.0.0:2375
          env:
            - name: DOCKER_TLS_CERTDIR
              value: ""
          volumeMounts:
            - name: docker-storage
              mountPath: /var/lib/docker

      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: jenkins-pvc
        - name: docker-storage
          emptyDir: {}
